.list {
  margin-top: 20px;
}

.list-item {
  display: grid;
  grid-template-columns: 2fr 0.8fr 3fr;
  grid-gap: 20px;

  &__content {
    border-bottom: 1px solid #0190f9;
    padding: 16px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    font-size: 18px;
    text-align: center;
  }
}

.item-transcription {
  @media (max-width: 768px) {
    &::before {
      content: "[";
      padding-right: 8px;
    }

    &::after {
      content: "]";
      padding-left: 8px;
    }
  }
}

.item-translate {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 768px) {
    display: block;
  }
}

.item-word {
  font-weight: 600;
}

.hide-item {
  opacity: 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

