.slider {
    position: relative;
    width: 100%;
    max-width: 360px;
    min-height: 100px;
    // background-color: #000;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;

    @media (max-width: 768px) {
        padding: 10px; 
    }
  
    &__item {
      text-align: center;
    }
  
    .hide {
      display: none;
    }

    &__text {
        font-size: 32px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        margin-block: 18px;

        &--translate {
            font-size: 24px;
        }

        &--transcription {
            font-size: 18px;
        }

        &.is-hide {
          visibility: hidden;
        }
    }

    &__control {
        display: inline-block;
        border: 0;
        border-radius: 10px;
        padding-inline: 20px;
        padding-block: 12px;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 16px;
        }
    }

    &__action {
      margin-block: 30px;
    }

    .delete-btn {
      position: relative;
      width: 24px;
      height: 24px;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 48px;
        height: 48px;
        background-color: #666;
        border-radius: 50%;
        z-index: 1;
      }

      img {
        position: relative;
        z-index: 2;
      }
    }
  }
